
<div class="main">

  <section class="about_section">
    <div class="icon_name">
      <div class="icon_container">
        <img src="../assets/logo.png" alt="florin_tatu_logo">
      </div>
      <div class="name_container">
        <h1>Florin <span style="color: #D80000;">T</span>atu</h1>
        <p>Web developer</p>
      </div>
    </div>
  </section>

  <section class="work_section"  [@slide]="IsExtended ? 'slideIn' : 'slideOut'" >
    <app-work [(IsExtended)]="IsExtended"></app-work>
  </section>

</div>
